<div class="container">
    <div class="card mat-elevation-z4">
        <div class="presentation">
            <h1>Welcome to Iotizzy, internet of things platform!</h1>
            <img src="/assets/complete-logo.png" alt="Logo Iotizzy" class="presentation-logo">
        </div>
        <div class="form">
            <div class="form-header">
                <img src="/assets/complete-logo.png" alt="Logo Iotizzy" class="form-logo">
                <h2>Welcome to Iotizzy</h2>
            </div>
            <h2>CREATE ACCOUNT</h2>
            <mat-form-field appearance="outline" class="input">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" [(ngModel)]="form.name" [formControl]="name" required>
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" type="email" [(ngModel)]="form.email" [formControl]="email" (keyup)="emailVerify()" required>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input">
                <mat-label>Confirm Email</mat-label>
                <input matInput placeholder="Confirm Email" type="email" [(ngModel)]="confirmEmail" (keyup)="emailVerify()" required>
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint ngModel #differentEmailMsg>Email's must be the same</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" [(ngModel)]="form.password" [formControl]="password" required>
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" class="button" [disabled]="!validFields()" (click)="create()">Login</button>
            <p routerLink="/login">Return to login</p>
        </div>
    </div>
</div>